@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .sidebar-list li {
    @apply m-1 rounded hover:bg-slate-100 p-2;
  }

  .sidebar-logo {
    @apply h-6 w-6 mx-auto ml-[2] md:mr-2 inline-block mb-1;
  }

  .sidebar-list li:last-child {
    @apply mt-auto;
  }

  .sidebar-link {
    @apply text-xl text-textDarker block w-full hover:text-customTeal;
  }

  .settings-accordian {
    @apply bg-light1 m-1 shadow-md rounded-[12];
  }

  .settings-accordian-heading {
    @apply text-xl font-thin !font-thin p-3 hover:bg-slate-100;
  }

  .settings-accordian-body {
    @apply h-auto;
  }

  .custom-button {
    @apply bg-customTeal text-textLighter hover:bg-teal-600;
  }

  .edit-profile input {
    @apply flex-grow p-2 border border-light2 rounded-md block md:flex-grow w-full md:w-2/3;
  }

  .edit-profile button {
    @apply custom-button px-6 py-2 rounded-md md:w-1/3 w-full;
  }

  .add-pet input {
    @apply w-full hover:bg-slate-100 m-2 p-2 rounded;
  }
}
