@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .sidebar-list li {
    @apply m-1 rounded hover:bg-slate-200 p-2;
  }

  .sidebar-logo {
    @apply h-6 w-6 mx-auto md:mr-2 inline-block;
  }

  .sidebar-list li:last-child {
    @apply mt-auto;
  }

  .sidebar-link {
    @apply text-xl text-black block w-full;
  }
}
