@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  color: var(--foreground);
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .sidebar-list li {
    @apply m-1 rounded hover:bg-slate-100 dark:hover:bg-dark2 dark:hover:shadow-sm dark:hover:shadow-mid3 p-2;
  }

  .sidebar-logo {
    @apply h-6 w-6 mx-auto ml-[2] md:mr-2 inline-block mb-1;
  }

  .sidebar-list li:last-child {
    @apply mt-auto;
  }

  .sidebar-link {
    @apply text-xl text-textDarker dark:text-textLight block w-full hover:text-customTeal dark:hover:text-customTeal;
  }

  .settings-accordian {
    @apply bg-light1 m-1 shadow-md rounded-[12] dark:bg-dark2;
  }

  .settings-accordian-heading {
    @apply text-xl !font-thin p-3 hover:bg-slate-100 dark:bg-dark2 dark:text-textLight;
  }

  .settings-accordian-body {
    @apply h-auto dark:bg-dark2;
  }

  .custom-button {
    @apply bg-customTeal text-textLighter hover:bg-teal-600;
  }

  .edit-profile-input {
    @apply w-full p-2 border border-light2 rounded-md mb-4 dark:bg-mid4 dark:text-textLight;
  }

  .edit-profile button {
    @apply custom-button px-6 py-2 rounded-md md:w-1/3 w-full;
  }

  .add-pet input {
    @apply w-full dark:bg-mid4 dark:hover:bg-mid3 hover:bg-slate-100 m-2 p-2 rounded;
  }

  .theme-input {
    @apply scale-150 dark:bg-dark2 mr-4 dark:text-textLight;
  }

  .theme label {
    @apply p-2 m-4 flex dark:bg-dark2;
  }

  .theme span {
    @apply ml-1 dark:text-textLight dark:bg-dark2;
  }

  .addItemInput {
    @apply m-1 p-2 text-lg hover:bg-slate-200 focus:bg-slate-100 rounded-sm border-gray-600 border-[0.5px];
  }
}
